/* style.css */

/* Change font for the entire page */
body {
    font-family: Arial, sans-serif;
}

/* Style the font used for the title */
h1 {
    font-family: "Playfair Display";
    font-weight: bolder;
}

/* Style the card */
.card {
    background-color: #f8f9fa;
    border: 1px solid #007bff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Customize the button */
.btn-primary {
    background-color: #007bff;
    border: none;
}

